target/
*.log
*.ipr
*.iws
*.iml
*.launch
*.xml.next
*.xml.tag
.project
.classpath
.settings
.metadata
.idea
.idea*
.DS_Store
.externalToolBuilders
maven-eclipse.xml
bin-groovy
atlassian-ide-plugin.private.xml
atlassian-ide-plugin.xml
*.MySCMServerInfo
.svn
rebel.xml
rebel-remote.xml
.rebel.xml.bak